body {
    background-color: darksalmon;
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

#burgerSection {
    
}

ul {
    list-style: none
}

#aliveBurgers {
    background-color: rgb(236, 171, 149);
    border: 0.5px solid white;
}

#devouredBurgers {
    background-color: rgb(236, 171, 149);
    border: 0.5px solid white;
}
